<header class="header">
  <div class="container-fluid d-flex align-items-center">
    <div class="header-menu"
         (click)="menuActive = !menuActive"
         [class.header-menu__active]="menuActive">
      <span></span>
    </div>
    <div class="header-logo"><a routerLink="/">logo</a></div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-2">
      <nav class="nav pl-4 mb-2 mb-sm-0" *ngIf="menuActive">
        <ul>
          <li *ngIf="auth.isAuthenticated()" routerLinkActive="link-active"><a routerLink="/profile">Моя страница</a></li>
          <li *ngIf="auth.isAuthenticated()" routerLinkActive="link-active"><a routerLink="/collaborators">Сотрудники</a></li>
          <li *ngIf="auth.isAuthenticated()" routerLinkActive="link-active"><a routerLink="/management">Руководство </a></li>
          <li *ngIf="!auth.isAuthenticated()" routerLinkActive="link-active"><a routerLink="/login">Авторизация</a></li>
          <li *ngIf="auth.isAuthenticated()"><a href="#" (click)="logout()">Выход</a></li>
        </ul>
        <div class="date">{{date | date:'dd:mm:y hh:mm:ss'}}</div>
      </nav>
    </div>
    <div class="col-12 col-lg-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
