<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="single" *ngIf="!loading; else loadingTemplate">
        <div class="single-image">
          <img src="{{user.avatar}}" alt="photo">
        </div>
        <div class="single-data">
          <div><strong>Имя:</strong>&nbsp;{{user.first_name}}</div>
          <div><strong>Фамилия:</strong>&nbsp;{{user.last_name}}</div>
          <div><strong>Емейл:</strong>&nbsp;{{user.email}}</div>
        </div>
      </div>
      <ng-template #loadingTemplate>LOADING...</ng-template>
    </div>
  </div>
</div>
