.form-block {
  margin: 45px 0;
}

.user-form__avatar {
  text-align: center;
}

.user-form__avatar img {
  border-radius: 100%;
  border: 1px solid #C0C0C0;
  max-width: 160px;
}

.collaborator-form {
  padding: 10px;
}

.success-block {
  position: fixed;
  bottom: 10px;
  left: 50%;
  z-index: 1060 ;
  transform: translate(-50%, 10px);
  margin-right: 25px;
  font-weight: 700;
}
